.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--md-sys-color-on-surface);

}

.var {
    color: var(--md-sys-color-on-surface-variant);
}

.about-main-icon {
    height: 4em;
}

.about-title {
    display: flex;
    font-size: 2em;
    margin: 0.5em;
}

.about-version {
    margin: 0 0 2em 0;
}

#about-developed-by {
    font-size: 0.9em;
    font-weight: 100;
}

#developer-name {
    font-size: 1.1em;
    font-weight: 600;
    margin: 0.5em 0 0 0;
}

#developer-alias {
    font-size: 0.8em;
    font-weight: 100;
}

#about-icons {
    display: flex;
    margin: 2em 0 0 0;
    align-items: center;
    justify-content: center;
}

.about-icon {
    height: 1.1em;
    margin: 0.3em;
    color: var(--md-sys-color-on-surface-variant);
    cursor: pointer;
}

a:nth-child(3) {
    font-size: 1.2em;
    opacity: 0.5;
}

a:nth-child(3):hover {
    opacity: 1;
}

#about-license {
    font-size: 0.8em;
    margin: 0.5em 0 0 0;
    font-weight: 100;
}

