#detail-headline {
    font-size: 0.8em;
    font-family: 'Amiri', serif;
    color: var(--md-sys-color-on-surface-variant)
}

.book-detail-form {
    display: flex;
    font-family: 'Amiri', serif;
}

.book-detail-book {
    font-size: 2em;
    line-height: 1.6;
    color: white;
}

.book-detail-author {
    font-size: 1.2em;
    color: var(--md-sys-color-on-surface-variant)
}

.book-detail-image {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    overflow: hidden;
    object-fit: cover;
}

.book-detail-image.expanded {
    position: fixed;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: auto;
    z-index: 9;
}

.book-detail-publisher {
    font-size: 1.1em;
}

.book-detail-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 0 10px;
}

.book-detail-item>md-icon {
    display: flex;
    margin: 0 0 0 8px;
}

.book-detail-rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.book-detail-note {
    line-height: 1.7;
}

#delete-book {
    --_label-text-color: rgb(180 82 71)
}

#bookdetail-wishlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #90BE6D;
    color: white;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 2px 5px;
    font-family: 'Open Sans';
}

.book-detail-wishlist>md-icon {
    font-size: 1.1em;
    margin: 0;
}