#install-headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#install-headline > img {
    height: 1em;
}

#install-app-frame {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    height: 5em;
    width: 5em;
    justify-content: center;
    border-radius: calc(5em / 4);
    box-sizing: border-box;
    padding: 13px;
}

#install-main-icon {
    flex: 1;
}

#install-desc {
    text-align: center;
}

#install-action {
    justify-content: center;
}

#install-button {
    flex: 1;
}

#installDialog {
    display: none;
}

@media (display-mode: browser) {
    #installDialog {
        display: flex;
    }

    #install-top-button {
        display: flex;
    }
}

#apple-install-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

#apple-install-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 2em;
}


#apple-install-title {
    font-size: 18px;
    line-height: 1.5;
}

#apple-install-version {
    font-size: 13px;
}

#instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0 0 0;
    width: 100%;
}

.instruction-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff0f;
    height: 4em;
    box-sizing: border-box;
    padding: 0 1.5em;
    margin: 0 0 0.5em 0;
    border-radius: 10px;
    width: 100%;
}

.instruction-button {
    background-color: #ffffff0f;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 2px 1em;
    margin: 0 0 0 5px;
    height: 3em;
}

.instruction-icon {
    width: 1.5em;
    height: auto;
    margin: 0 3px;
}

.share {
    height: 1.7em;
    width: auto;
}