:root {
    --md-ref-typeface-brand: 'Open Sans', sans-serif;
    --md-ref-typeface-plain: 'Open Sans', sans-serif;

    --md-list-item-label-text-font: 'Amiri', serif;
    --md-list-item-supporting-text-font: 'Amiri', serif;
    --md-list-item-trailing-supporting-text-font: 'Open Sans', sans-serif;

    --md-icon-button-icon-size: 24px;

    --md-list-item-label-text-size: 1.1em;

    font-family: var(--md-ref-typeface-plain);
    font-size: 14px;

    background: var(--md-sys-color-background);
    color: var(--md-sys-color-on-surface);
    transition: width 1s ease;
}

#fab::part(fab) {
    transition: width 1s ease;
}

md-icon[filled] {
    font-variation-settings: 'FILL' 1;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0 0 0;
}

#header {
    display: flex;
    background-color: var(--md-sys-color-surface);
    position: fixed;
    top: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    box-sizing: border-box;
    padding: 15px;
    transition: background-color 0.3s;
    z-index: 12;
}

#header.scrolled {
    background-color: var(--md-sys-color-surface-container);
}

#right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#install-top-button {
    position: absolute;
    right: 3.5em;
    --_icon-color: orange;
}

#title {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

#budget-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 0 1em 0;
    background-color: var(--md-sys-color-surface-container-low);
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.item-price {
    font-size: 1.5em;
}

.item-book {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.6;
}

.book-icon {
    font-size: 1.5em;
}

.end-icon {
    
    font-size: 1.3em;
}

md-icon {
    --md-icon-font: 'Material Symbols Rounded';
}

.green{
    color: #90BE6D;
}

[slot=supporting-text] {
    font-size: 0.9em;
}

#fab {
    display: flex;
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 2;
}

md-outlined-text-field,
md-outlined-select {
    resize: vertical;
    width: 100%;
}

#wallet-icon {
    display: flex;
    font-size: 2em;
    margin: 0 10px 0 0;
}

#wallet-budget {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#budget-number {
    font-size: 3em;
    font-weight: 500;
    line-height: 1;
}

#budget-bar {
    --md-linear-progress-track-height: 8px;
    --md-linear-progress-track-shape: 8px;
    --md-linear-progress-active-indicator-height: 8px;
    width: 100%;
    margin: 10px 0 0;
}

.additional-budget-bar {
    --md-linear-progress-track-height: 8px;
    --md-linear-progress-track-shape: 8px;
    --md-linear-progress-active-indicator-height: 8px;
    width: 61.8%;
    margin: 5px 0 0;
}

#book-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 0 123px 0;
}

md-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

#dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    z-index: -1;
}

.price-date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 1em;
}

#input-price {
    flex: 1;
}

#input-date {
    display: flex;
    height: 3.8em;
    border-radius: 4px;
    border: solid 1px white;
    margin: 0;
    background-color: transparent;
    color-scheme: dark;
    width: 40%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#budget-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
}

#additional-budget-number {
    display: flex;
    margin: 0 0 0 1em;
    color: var(--md-sys-color-on-surface-variant)
}

#year-container {
    display: flex;
}

#year-container:hover #year-label {
    width: 80px;
}

#year-label {
    width: 0px;
    transition: width 0.3s cubic-bezier(0.3, 0, 0.8, 0.15);
    overflow: hidden;
    white-space: nowrap;
    direction: rtl;
    /* Add this property */
    text-align: right;
}

#year-select {
    z-index: 1;
    color-scheme: dark;
    background-color: transparent;
    border: none;
    color: var(--md-sys-color-on-surface-variant);
    font-family: 'Open Sans';
    max-width: 4em;
    cursor: pointer;
}


#add-icon {
    opacity: 1;
    font-size: 2em;
    transition: opacity 1s 1s;
    margin-left: auto;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--md-sys-color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition: height 0.6s cubic-bezier(0.3, 0, 0.8, 0.15), opacity 0.2s 0.4s;
    --md-circular-progress-active-indicator-shape: 50;
}

#snackbar-success.inner {
    display: flex;
}

#language-dialog {
    z-index: 30;
}

#lang-content {
    width: 100%;
    background: transparent;
}

#chip-set {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.chip{
    display: flex;
}

#version {
    margin: 0;
    position: fixed;
    bottom: 0.5em;
    opacity: 0.1;
    font-size: 0.8em;
}