:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;

    background: rgb(14 20 22);
    color: rgb(222 227 229);
    line-height: 1.8;
}

body{
    margin:0;
}

main {
    display: flex;
    padding: 1.5em;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
}

img {
    height: 1.5em;
    vertical-align: text-bottom;
}

.icon{
    font-family: 'Material Symbols Rounded';
    font-variation-settings: 'FILL' 1;
    vertical-align: text-bottom;
}

h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#back-button{
   
        font-size: 2em;
        margin: 0 0.5em;
            
}

a{
    text-decoration: none;
            color: inherit;
}